#logo {
    position: absolute;
    display: flex;
    top: 2em;
    left: 2em;
    height: 35px;
}

ul.main-nav {
    color: white;
    list-style-type: none;
    display: flex;
    padding-top: 1.5em;
    padding-right: 1em;
}

li {
    padding-left: 2em;
}