.main-container {
  display: flex;
  background-image: url('./components/images/headerbackground.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.header-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  height: 100px;
}

.search {
  position: absolute;
  top: 100px;
  left: 200px;
  background-color: white;
  border-radius: 5px;
  height: 525px;
  width: 420px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}